extends templates/layout

block main
  main
    include includes/slider
    include includes/about
    include includes/services
    include includes/testimonial
    include includes/work
    include includes/blog-more
    include includes/product-beauty
    include includes/call-to