
- 
  const blogMore = [
    {
      "img": "xblog-1.jpg.pagespeed.ic.w3EPOMXKcX.webp",
      "icon": "fa fa-picture-o",
      "content": "Tips From Makeup Artists You&rsquo;ve Never Heard"
    },
    {
      "img": "xblog-2.jpg.pagespeed.ic.cP0yr09H_T.webp",
      "icon": "fa fa-sticky-note-o",
      "content": "Tips From Makeup Artists You&rsquo;ve Never Heard"
    },
    {
      "img": "xblog-3.jpg.pagespeed.ic.TZk-xckqgF.webp",
      "icon": "fa fa-play-circle",
      "content": "Tips From Makeup Artists You&rsquo;ve Never Heard"
    },
  ]
- 
  const productBeauty = [
    {
      "img": "product-1.jpg"
    },
    {
      "img": "product-2.jpg"
    },
    {
      "img": "product-3.jpg"
    },
    {
      "img": "product-4.jpg"
    },
    {
      "img": "product-4.jpg"
    },
    {
      "img": "product-1.jpg"
    },
  ]

- 
  const services = [
    {
      "img": "xservices-1.jpg.pagespeed.ic.SDcvGU69M3.webp"
    },
    {
      "img": "xservices-2.jpg.pagespeed.ic.SUQOwBNeq3.webp"
    },
    {
      "img": "xservices-3.jpg.pagespeed.ic.KBSn1zN4Cb.webp"
    },
    {
      "img": "xservices-4.jpg.pagespeed.ic.mvs-_KXunx.webp"
    }
  ]

- 
  const menuHeaderList = ["Home", "About", "Services", "Shop", "Page", "Blog", "Contact"]

-
  const footerImgInstagamr = [
    "assets/images/instagram/xinsta-1.jpg.pagespeed.ic.ekjsTTJXPU.webp",
    "assets/images/instagram/xinsta-2.jpg.pagespeed.ic.qNKoymqjLZ.webp",
    "assets/images/instagram/xinsta-3.jpg.pagespeed.ic.6xUkjr2cwj.webp",
    "assets/images/instagram/xinsta-4.jpg.pagespeed.ic.kCfgrv_Of9.webp",
    "assets/images/instagram/xinsta-5.jpg.pagespeed.ic.g7FU5wbPEY.webp"
  ]

- const socialImg = [
  "fa fa-facebook",
  "fa fa-twitter",
  "fa fa-instagram",
  "fa fa-linkedin"
]

-const footerContact = [
  {
    icon: "fa fa-map-marker",
    title: "ADDRESS",
    info: "509 Myrtle Ave, Brooklyn, NY 11205, USA"
  },
  {
    icon: "fa fa-phone",
    title: "PHONE",
    info: "+1 718-783-1936 +1 718-783-1966"
  },
  {
    icon: "fa fa-envelope-o",
    title: "EMAIL",
    info: "Makeup.artist@gmail.com"
  }
]