section.about.section-padding
    .container
      .row
        .col-xl-6.col-lg-6.col-md-12
          .about__content
            .section-header
              h3 MAKE YOUR FACE
              h2 the center of attention.
            p
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, tenetur debitis, adipisci quidem
              | sapiente animi itaque repellat quae, nobis atque laudantium id. Consectetur sit a voluptatem error omnis
              | quos nesciunt? Consectetur sit a voluptatem error omnis
              | quos nesciunt?
            .about__button
              a.btn_1.btn_1--primary.btn_1--around(href='') CONTACT US
        .col-xl-6.col-lg-6.col-md-12
          .about__img
            img(src='assets/images/about/xabout-pic.png.pagespeed.ic.PCDGDjqSZ_.webp', alt='')