section.callto
    .container-fluid.g-0
      .row.g-0
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .callto__left
            p BOOK ONLINE FOR
            h2 20% discount
        .col-xl-6.col-lg-6.col-md-12.col-sm-12
          .callto__right
            p GET A QUOTE
            .row
              .col-xl-6.col-lg-6.col-md-12.col-sm-12
                .form-group
                  input.form-control(type='text', name='', id='', placeholder='Name', aria-describedby='helpId')
              .col-xl-6.col-lg-6.col-md-12.col-sm-12
                .form-group
                  input.form-control(type='number', name='', id='', placeholder='Number phone', aria-describedby='helpId')
              .col-xl-6.col-lg-6.col-md-12.col-sm-12
                .form-group
                  input.form-control(type='email', name='', id='', placeholder='Email', aria-describedby='helpId')
              .col-xl-6.col-lg-6.col-md-12.col-sm-12
                .form-group
                  select.form-select.form-select-lg.mb-3(aria-label='.form-select-lg example')
                    option(value='1', selected='') Choose services
                    option(value='2') Beauty
              .col-xl-12.col-lg-12.col-md-12.col-sm-12
                .form-group
                  textarea#exampleFormControlTextarea1.form-control(placeholder='Your message', rows='3')
              .col-xl-12.col-lg-12.col-md-12.col-sm-12
                .form-group
                  button.btn_1.btn_1--primary(type='submit') BOOK SERVICES