section.testimonial.section-padding
    .container
      .row
        .col-xl-12.col-lg-12.col-md-12
          #myCarousel.carousel.slide(data-ride='carousel')
            .carousel-inner
              .item.active
                .carousel-caption.testimonial__item
                  .testimonial__author
                    .testimonial__author__img
                      img(src='assets/images/testimonial/xta-1.png.pagespeed.ic.ZAvqjSBpq4.webp', alt='')
                    .testimonial__author__name
                      h3 Lorem, ipsum.
                      p Blogger/Client
                  .testimonial__desc
                    p
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga expedita nostrum
                      | earum atque cupiditate obcaecati, nam doloremque quibusdam perspiciatis beatae eius molestiae
                      | ipsam quod? Earum error voluptatum sed nisi.nam doloremque quibusdam perspiciatis beatae eius
                      | molestiae
                      | ipsam quod? Earum error voluptatum sed nisi.
              .item
                .carousel-caption.testimonial__item
                  .testimonial__author
                    .testimonial__author__img
                      img(src='assets/images/testimonial/xta-1.png.pagespeed.ic.ZAvqjSBpq4.webp', alt='')
                    .testimonial__author__name
                      h3 Lorem, ipsum dolor.
                      p Blogger/Client
                  .testimonial__desc
                    p
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga expedita nostrum
                      | earum atque cupiditate obcaecati, nam doloremque quibusdam perspiciatis beatae eius molestiae
                      | ipsam quod? Earum error voluptatum sed nisi nam doloremque quibusdam perspiciatis beatae eius
                      | molestiae
                      | ipsam quod? Earum error voluptatum sed nisi.
            
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
              span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', data-slide='next')
              span.glyphicon.glyphicon-chevron-right
              span.sr-only Next